body {
  background-color: #414141;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 1000px;
  height: auto;

  .email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
}